article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 0 0; }

dfn {
  font-style: italic; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 0 0; }

code, kbd, pre, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 0 0; }

dd {
  margin: 0; }

menu, ol, ul {
  padding: 0; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* ======================================================================= */
/* HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
/* ======================================================================= */
html, button, input, select, textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

img {
  vertical-align: middle; }

input {
  outline: none; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* ======================================================================= */
/* ======================================================================= */
/* Helper classes
/* ======================================================================= */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ======================================================================= */
body {
  font-family: "museo-sans", "Verdana", "Gill Sans", "Lucida Grande", "Arial", "Helvetica", "sans-serif";
  font-weight: 300; }

.fields {
  text-align: left;
  margin: 20px auto 30px;
  max-width: 600px; }
  .fields li {
    display: inline-block;
    width: 100%;
    margin: 0 0 15px; }
  .fields .lead {
    margin: 20px 0 0; }
  .fields .asset {
    margin: 20px 0 27px;
    line-height: 51px; }
    .fields .asset span {
      display: inline-block;
      line-height: 18px;
      vertical-align: middle; }
    .fields .asset img {
      border: 1px solid #cdcdcd;
      float: right;
      width: 51px;
      height: 51px;
      cursor: pointer; }
  .fields .error {
    color: red; }
  .fields .half {
    width: 48%; }
  .fields .left {
    float: left; }
  .fields .right {
    float: right; }
  .fields label {
    width: 100%;
    margin: 0 0 5px;
    line-height: 24px; }
    .fields label.switch-wrapper {
      width: auto; }
  .fields input {
    border: 1px solid #ababab;
    padding: 0 10px;
    height: 36px;
    vertical-align: middle;
    display: block;
    min-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 34px; }
    .fields input[type=checkbox] {
      display: inline;
      height: inherit;
      width: auto;
      text-align: left;
      min-width: inherit; }
  .fields .ride-fields {
    display: block; }
  .fields .ride-fields:last-child .rule {
    display: none; }
  .fields .terms {
    text-align: center; }

#note-message,
#note-follow,
#note-comments,
#note-likes,
#note-news {
  display: none; }
  .lt-ie9 #note-message, .lt-ie9
  #note-follow, .lt-ie9
  #note-comments, .lt-ie9
  #note-likes, .lt-ie9
  #note-news {
    display: block;
    visibility: visible;
    position: absolute;
    left: -9000px; }

#note-message:checked + .switch-wrapper .switch-mask,
#note-follow:checked + .switch-wrapper .switch-mask,
#note-comments:checked + .switch-wrapper .switch-mask,
#note-likes:checked + .switch-wrapper .switch-mask,
#note-news:checked + .switch-wrapper .switch-mask {
  background: #ff6500;
  /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmNjUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNTRjMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ff6500 0%, #e54c00 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff6500), color-stop(100%, #e54c00));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff6500 0%, #e54c00 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff6500 0%, #e54c00 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff6500 0%, #e54c00 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ff6500 0%, #e54c00 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6500', endColorstr='#e54c00',GradientType=0 );
  /* IE6-8 */ }

#note-message:checked + .switch-wrapper .switch,
#note-follow:checked + .switch-wrapper .switch,
#note-comments:checked + .switch-wrapper .switch,
#note-likes:checked + .switch-wrapper .switch,
#note-news:checked + .switch-wrapper .switch {
  left: -21px; }

.toggle label {
  float: none;
  width: 75%;
  padding: 0 0 0 20px;
  cursor: pointer;
  display: inline-block; }
  .toggle label.switch-wrapper {
    padding: 0;
    float: left;
    margin: 0;
    margin: 15px 4% 0 0; }

h3 {
  font-weight: 300; }

.switch-wrapper {
  display: inline-block;
  width: auto;
  line-height: 0px;
  color: #fff;
  vertical-align: middle;
  font-size: 0; }
  .switch-wrapper .switch-mask {
    display: block;
    width: 33px;
    height: 26px;
    background: #f36a22;
    padding: 0 13px;
    -webkit-border-radius: 13px;
    border-radius: 13px;
    background-clip: padding-box;
    overflow: hidden;
    position: relative;
    background: #e54c00;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1NGMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjY1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #e54c00 0%, #ff6500 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e54c00), color-stop(100%, #ff6500));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e54c00 0%, #ff6500 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e54c00 0%, #ff6500 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e54c00 0%, #ff6500 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e54c00 0%, #ff6500 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e54c00', endColorstr='#ff6500',GradientType=0 );
    /* IE6-8 */ }
    .switch-wrapper .switch-mask .inner-mask {
      overflow: hidden;
      position: absolute;
      top: -2px;
      left: -1px;
      display: inline-block;
      width: 100px;
      margin: 0 0 0;
      -webkit-box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
      box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.6);
      height: 29px;
      -webkit-border-radius: 13px;
      border-radius: 13px;
      background-clip: padding-box; }
    .switch-wrapper .switch-mask .switch {
      margin: 3px 0 0;
      height: 27px;
      display: block;
      width: 100px;
      position: absolute;
      top: 0;
      left: 12px;
      line-height: 25px;
      -webkit-transition: left 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transition: left 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0); }
      .switch-wrapper .switch-mask .switch span {
        font-size: 12px;
        height: 27px;
        text-transform: uppercase;
        vertical-align: baseline;
        font-weight: 500; }
        .switch-wrapper .switch-mask .switch span:first-child:after {
          content: '\a0';
          margin: 0 5px;
          display: inline-block;
          height: 24px;
          width: 24px;
          -webkit-border-radius: 12px;
          border-radius: 12px;
          background-clip: padding-box;
          background: #fafafa;
          border-bottom: 2px solid #cdcdcd;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-bottom: 3px solid #cdcdcd;
          -webkit-box-shadow: inset 0px 0px 4px 0px #cdcdcd;
          box-shadow: inset 0px 0px 4px 0px #cdcdcd; }

/*@ sourceMappingURL=style.css.map */